.jstree-default .jstree-icon {
    color: #5d78ff;
    font-size: 1.3rem;
}
.jstree-default .jstree-anchor {
    color: #494b74;
    padding: 0 8px 0 4px;
    font-size: 15px;
    font-weight: 500;
}
.jstree-default .jstree-anchor {
    line-height: 30px;
    height: 30px !important;
}